/* ChallengeMe.css */
.challenge-me-container {
  margin: 2rem auto;
  max-width: 800px;
}

.challenge-me-header {
  text-align: center;
  margin-bottom: 1rem;
}

.challenge-me-alert {
  color: #ff4d4d;
  background-color: #ffe6e6;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 1rem;
}

.challenge-me-empty {
  text-align: center;
  font-style: italic;
  color: #777;
}

.challenge-me-list-container {
  margin-top: 1.5rem;
}

.challenge-me-list {
  list-style: none;
  padding: 0;
}

.challenge-me-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.challenge-me-item:hover {
  background-color: #f1f1f1;
}
.comment-button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #555eff; /* 버튼 색상 */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.comment-button:hover {
  background-color: #444bd1; /* 호버 시 색상 변경 */
}
