.navbar {
    background-color: #f7f6fb; /* 밝은 연보라색 */
    border-bottom: 2px solid #ccc; /* 선택 사항: 경계선 추가 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

.nav-logo {
    height: 8px;
    pointer-events: none;
    transition: transform 0.3s ease; /* 로고에 마우스 오버 애니메이션 */
}

.nav-logo:hover {
    transform: scale(1.1);
}

.nav-link {
    color: #4a4a4a; /* 기본 글자색 */
    font-size: 16px;
    padding: 10px 15px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link:hover {
    color: #ffffff; /* 마우스 오버 시 글자색 */
    background-color: #7c83fd; /* 마우스 오버 시 배경색 */
    border-radius: 5px; /* 둥근 모서리 */
}

.navbar-nav {
    gap: 10px; /* 메뉴 아이템 간 여백 */
}

.navbar-nav .nav-item {
    margin: 0 5px; /* 메뉴 간격 */
}

.navbar .ms-auto {
    margin-left: auto; /* 오른쪽 정렬 */
}
/* 로고 컨테이너 스타일 */
.logo-container {
    display: flex;
    flex-direction: row; /* 가로로 배치 */
    justify-content: center; /* 중앙 정렬 */
    align-items: center;
    height: 50px; /* 로고 영역의 높이 줄임 */
    gap: 10px; /* 단어 간격 설정 */

}

/* 개별 단어 스타일 */
.animated-word {
    font-size: 1px; /* 글자 크기 줄임 */
    font-weight: 600; /* 글자 두께 */
    text-transform: uppercase;
    color: #555eff; /* 텍스트 색상 */
    opacity: 0; /* 초기 투명도 */
    transform: translateY(10px) translateX(-30px); /* 오른쪽에서 왼쪽으로 약간 이동 */
    animation: fadeInUp 0.8s ease forwards; /* 애니메이션 적용 */
    margin-right: -10px; /* 오른쪽 간격 줄임 */
}
/* 각 단어에 시간차 애니메이션 적용 */
.animated-word:nth-child(1) {
    animation-delay: 0.2s;
}
.animated-word:nth-child(2) {
    animation-delay: 0.4s;
}
.animated-word:nth-child(3) {
    animation-delay: 0.6s;
}

/* 애니메이션 정의 */
@keyframes fadeInUp {
    to {
        opacity: 1; /* 투명도 변경 */
        transform: translateY(0); /* 원래 위치로 이동 */
    }
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .logo-container {
        height: 50px;
    }

    .animated-word {
        font-size: 0em;
    }
}

@media (max-width: 480px) {
    .logo-container {
        height: 50px;
    }

    .animated-word {
        font-size: 0em;
        gap: 0px;
    }
}
